.statistics {
  color: #fff;
  background-color: #065e81;
  background-image: linear-gradient(to bottom right, #81bdd5, #1481ac);
  font-size: 0.7em;
  padding: 1rem;
  margin: 1rem 0.5rem;
  width: 30rem;
  max-width: 95%;
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  margin: 3px;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 4rem;
  
}

.statistics__title {
  font-size: 20px;
  width: 390px;
  align-items: auto;
}

.stats__icon {
  width: 50px;
  height: 50px;
  background: #98cfdc;
  color: #ffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.stats__text {
  width: 150px;
  height: 50px;
  background-color: #53b9ea;
  border-radius: 5px;
  margin: 0 2px;
}

.stats__text-title {
  font-size: 0.75em;
  color: #fff;
}

.stats__text-numbers {
  font-size: 0.9em;
  font-weight: bold;
  color: #fff;
}