.summary {
  color: #fff;
  background-color: #065e81;
  background-image: linear-gradient(to bottom right, #81bdd5, #1481ac);
  font-size: 0.7em;
  padding: 1rem;
  margin: 1rem auto;
  width: 30rem;
  max-width: 95%;
  height: 20rem;
}

.summary__location {
  color: yellow;
  margin: 0 0 10px 0;
}

.summary__concise {
  margin: 10px 0;
  text-align: left;
}

.summary__current-stats {
  margin: 10px 0;
  text-align: left;
}

.summary__current-stats p{
  font-size: 0.6em;
}