.App {
  text-align: center;
}

.App-container {
  background: linear-gradient(#065e81, #F0FFFF);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 70rem;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  background-color: #065e81;
}

.container__forecast {
  display: flex;
  flex-direction: row;
}